.content-form {
  margin: 20px;
}

#success,
#error,
#device-id-error {
  display: none;
}

#success.show,
#error.show {
  display: block;
}

#device-id-error.show {
  display: inherit;
}

#token-result #success,
#token-result #fail,
#token-sent {
  display: none;
}

#token-result.success #success,
#token-sent.show {
  display: block;
}

#token-result.fail #fail {
  display: block;
}
